
.calculator {
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 50px auto;
  width: 300px;

}

.calculator p {
  font-size: 24px;
  margin: 0 0 10px;
  padding: 0;
  text-align: right;
}

.calculator button {
  /*background-color: #eaeaea;*/
  /*border: none;*/
  /*border-radius: 5px;*/
  /*box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);*/
  /*color: #333;*/
  /*cursor: pointer;*/
  /*font-size: 18px;*/
  /*height: 50px;*/
  /*margin: 5px;*/
  /*padding: 0 15px;*/
  /*width: 50px;*/

  width: 60px;
  height: 60px;
  border: 1px solid #333;
  border-radius: 10%;
  background-color: #f2f2f2;
  color: #333;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#enter-button {
  flex-grow: 2;
}

#number {
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 285px;
  max-width: 100%;
}


