
.calculator {
  background-color: #f8f8f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 50px auto;
  width: 267px;
  border: 10px solid rgba(33, 68, 72, 0.59);
  border-style: ridge;


}

.calculator p {
  font-size: 24px;
  margin: 0 0 10px;
  padding: 0;
  text-align: right;
}

.calculator button {


  border: 2px solid rgba(33, 68, 72, 0.59);
  border-radius: 10%;
  background-color: #f2f2d7;
  color: #333;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 50px;
  max-width: 100%;

}

#enter-button {
  flex-grow: 2;
}

#number, #result {
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 237px;
  max-width: 100%;
}

